<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--https://stackoverflow.com/questions/29393064/reading-in-a-local-csv-file-in-javascript-->
    <p>Select local CSV file:</p>
    <input type="file" id="csv">
    <output id="out">
        file contents will appear here
    </output>
    <!--<button onclick="myFunc()">Click</button>-->
    <script>
        var table = "";
        var fileInput = document.getElementById("csv");
        readFile = function () {
            var reader = new FileReader();
            reader.onload = function () {
                //document.getElementById('out').innerHTML = reader.result;
                data = reader.result;
                //make table
                var rows = data.split('\n');
                for (var rowIndex in rows) {
                    var row = rows[rowIndex].split(',');
                    if(rowIndex==="0"){
                        table = '<table>';
                        table += '<thead>';
                        table += '<tr>';
                        for (var columnIndex in row) {
                            table += '<th style="border: 3px solid rgba(0,0,0,0.2)">';
                            table += rows[columnIndex];
                            table += '</th>';
                        }
                        table += '</tr></thead>';
                        table+= '<tbody>';
                    }
                    else{
                        
                        for(var columnIndex in row){
                            if(columnIndex==="0"){
                                table+= '<td style="border: 3px solid rgba(0,0,0,0.2)">';
                                table+= row[columnIndex];
                                table+= '</td>';
                            }else{
                                table+= '<td style="border: 3px solid rgba(0,0,0,0.2)">';
                                table+= row[columnIndex];
                                table+= '</td>';
                            }
                        }
                        table+= '</tr>';
                        
                    }
                    
                }
                table += '</tbody></table>';
                $('body').append(table);
            };
            reader.readAsBinaryString(fileInput.files[0]);
        };
        fileInput.addEventListener('change', readFile);
        document.write(table);
    </script>
</body>

</html>